body {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightgrey;
}

header {
    position: relative;
    /** NOU CSS A SOTA **/
    top: 30px;
    left: 0px;
    background-color: yellowgreen;
    height: 140px;
}

header img {
    position: absolute;
    /** NOU CSS A SOTA **/
    top: 30px;
    left: 50px;
}


ul#menu {
    position: absolute;
    /** NOU CSS A SOTA **/
    list-style-type: none;
    margin: 0;
    padding: 0;
    top: 40px;
    left: 400px;
}

ul#menu li {
    background-color: black;
    color: white;
    font-size: 16px;
    /** NOU CSS A SOTA **/
    height: 30px;
    line-height: 30px;
    float: left;
    padding: 0 10px;
    margin-right: 20px;
    text-align: center;
}

div {
    position: relative;
    border: 1px solid green;
      /** NOU CSS A SOTA **/
    top: 100px;
    left: 50px;
    margin-right: 100px;
    max-width: 1000px;
    min-width: 500px;
}

div>h1 {
    position: absolute;
    color: white;
    font-size: 2em;
    /** NOU CSS A SOTA **/
    top: 200px;
    left: 450px;
}

div img#scissors {
    position: absolute;
    left: 310px;
    z-index: -1;
}