* {
  font-size: 14px;
}

header,
footer {
  background: black;
  height: 100px;
  text-align: center;
  line-height: 100px;
  color: white;
  font-size: 1.8rem;
  font-family: sans-serif;
}

nav {
  background: grey;
  padding: 15px 8px;
  /********** ADD YOUR CODE HERE ***********/
  display: flex;
  flex-direction: column;
  /********** END OF YOUR CODE ***********/
}

nav > div {
  color: white;
  border: 1px solid white;
  /********** ADD YOUR CODE HERE ***********/
  text-align: center;
  padding: 8px 2px;
  margin-bottom: 5px;
  /********** END OF YOUR CODE ***********/
}

nav > div > a {
  text-decoration: none;
  font-size: 1.2em;
  color: white;
}

nav > div:hover {
  cursor: pointer;
}

nav > div:hover a {
  color: blue;
}

#main {
  height: auto;
  /********** ADD YOUR CODE HERE ***********/
  display: flex;
  flex: 1;
  /********** END OF YOUR CODE ***********/
}

#contents {
  /********** ADD YOUR CODE HERE ***********/
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /********** END OF YOUR CODE ***********/
}

#contents > article {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  /********** ADD YOUR CODE HERE ***********/
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
  box-sizing: border-box;
  padding: 5px;
  /********** END OF YOUR CODE ***********/
}

article h3 {
  font-size: 1.8rem;
}

article img {
  box-shadow: 2px 10px 12px 0px rgba(0, 0, 0, 0.3);
  /********** ADD YOUR CODE HERE ***********/
  width: 100%;
  /********** END OF YOUR CODE ***********/
}

article > .icons {
  font-size: 1em;
}



/********** ADD YOUR CODE HERE ***********/
/* insert CSS to change order of the articles, using the
flexbox property  order   and  :nth-child  */

#contents article:nth-child(1)  {
  order: 2;
}

#contents article:nth-child(2)  {
  order: 4;
}

#contents article:nth-child(3)  {
  order: 1;
}

#contents article:nth-child(4)  {
  order: 3;
}
/********** END OF YOUR CODE ***********/

#main > aside {
  background: lightgrey;
  /********** ADD YOUR CODE HERE ***********/
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  /********** END OF YOUR CODE ***********/
}

/********* RESPONSIVE **********/

@media screen and (max-width: 700px) {
  /********** ADD YOUR CODE HERE ***********/
  * {
    font-size: 14px;
  }
  #main {
    display: block;
  }
  nav > div {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 4vw;
  }
  #contents {
    flex-direction: column;
  }
  #contents > article {
    padding: 30px;
    justify-content: space-around;
  }
  div > img {
    width: 100%;
  }
  /********** END OF YOUR CODE ***********/
}
