.cards {
    /*************  ADD YOUR CODE HERE ************/
    display: flex;
    flex-wrap: wrap;
    align-items: top;
    justify-content: space-between;
    /************** END OF YOUR CODE ***************/
}

.card {
    margin: 10px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
    padding:5px;
    /*************  ADD YOUR CODE HERE ************/
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    box-sizing: border-box;

    max-width: 250px;
    /************** END OF YOUR CODE ***************/
}

.card h3 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-transform: uppercase;
    text-align: center;
}

.card img {
    /*************  ADD YOUR CODE HERE ************/
    width: 100%;
    /************** END OF YOUR CODE ***************/
}

.card .text {
    font-size: 0.8rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0 5px 5px;
}

.card button {
    background-color: black;
    border: 0;
    color: white;
    cursor:pointer;
    /*************  ADD YOUR CODE HERE ************/
    padding: 10px;
    width: 100%;
    /************** END OF YOUR CODE ***************/
}

.card button:hover {
    background-color:blue;
}