body {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightgrey;
}

header {
    position: relative;
    background-color: yellowgreen;
    /** ADD CSS HERE **/
    /** ***************/
}

header img {
    position: absolute;
    /** ADD CSS HERE **/
    /** ***************/
}

ul#menu {
    position: absolute;
    /** ADD CSS HERE **/
    /** ***************/
}

ul#menu li {
    background-color: black;
    color: white;
    font-size: 16px;
    /** ADD CSS HERE **/
    /** ***************/
}

div {
    position: relative;
    border: 2px solid green;
    /** ADD CSS HERE **/
    /** ***************/
}

div h1 {
    position: absolute;
    color: white;
    font-size: 2em;
    /** ADD CSS HERE **/
    /** ***************/
}