.cards {
    /*************  ADD YOUR CODE HERE ************/
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    /************** END OF YOUR CODE ***************/
}

.card {
    margin: 10px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
    padding:5px;
    /*************  ADD YOUR CODE HERE ************/
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    box-sizing: border-box;

    height: 350px;
    max-width: 250px;
    /************** END OF YOUR CODE ***************/
}

.card img {
    /*************  ADD YOUR CODE HERE ************/
    width: 100%;
    /************** END OF YOUR CODE ***************/
}

.card .text {
    padding: 0 5px 5px;
}

.card .text>button {
    background: #1d486b;
    border: 0;
    color: white;
    /*************  ADD YOUR CODE HERE ************/
    padding: 10px;
    width: 100%;
    /************** END OF YOUR CODE ***************/
}