/* Website template by freewebsitetemplates.com */
body {
  background: #e8e1d1;
  color: #7c6b4f;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  margin: auto;
  min-width: 960px;
  padding: 0;
}

main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 320px 320px 320px 1fr;
      grid-template-columns: 1fr 320px 320px 320px 1fr;
  -ms-grid-rows: 270px 10px 660px 5px 320px 150px;
      grid-template-rows: 270px 10px 660px 5px 320px 150px;
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

a {
  outline: 0;
}

img {
  border: none;
}

p a {
  color: #706758;
}

#page {
  background: url(../images/bg-body.jpg) repeat-x center top;
  overflow: hidden;
  width: 100%;
}

#header {
  margin: 0 auto;
  width: 960px;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2/4;
}

#header nav {
  clear: both;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 20px 0;
}

#header nav .section {
  height: 34px;
  margin: 0 5px;
}

#header nav .section a {
  background: url(../images/bg-menu-right.gif) no-repeat right top;
  color: #164773;
  display: block;
  font-size: 14px;
  line-height: 32px;
  text-align: center;
  text-decoration: none;
}

#header nav .section a span {
  background: url(../images/bg-menu-left.gif) no-repeat left top;
  cursor: pointer;
  display: block;
  height: 34px;
  padding: 0 15px;
}

#header > div {
  margin: 65px 0 0;
  text-align: center;
}

#header > div a {
  display: block;
  margin: 0 auto;
  width: 320px;
}

#body1 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
}

#body2 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
}

#body3 {
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4/5;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
}

#body1,
#body2,
#body3 {
  background-color: #f6efe5;
  border: 1px solid #e0dacc;
  background-image: url(../images/border-vertical.gif) repeat-y;
  padding: 0 25px 0 20px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  padding-bottom: 20px;
}

#body1 h1,
#body2 h1,
#body3 h1 {
  font-family: Times New Roman, Times, serif;
  font-size: 28px;
  line-height: 28px;
  margin: 0;
  padding: 28px 0;
}

#body1 h1 a,
#body2 h1 a,
#body3 h1 a {
  color: #0d4d79;
  display: block;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: 0 1px #f8ffff;
}

#body1 h1 a :hover,
#body2 h1 a :hover,
#body3 h1 a :hover {
  color: #1c3345;
}

#body1 > div,
#body2 > div,
#body3 > div {
  background: url(../images/frame.gif) no-repeat;
  height: 238px;
  margin: 0 0 15px;
  width: 286px;
}

#body1 p,
#body2 p,
#body3 p {
  line-height: 23px;
  margin: 0;
  padding: 0;
  text-align: justify;
}

#body1 span,
#body2 span,
#body3 span {
  color: #3e3524;
  display: block;
  font-size: 16px;
  font-family: Times New Roman, Times, serif;
  font-weight: bold;
  padding: 0 0 5px;
  text-transform: uppercase;
}

#readmore1 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
}

#readmore2 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
}

#readmore3 {
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4/5;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
}

.readmore {
  background: url(../images/bg-readmore.gif) no-repeat;
  color: #69614a;
  line-height: 24px;
  text-decoration: none;
  text-align: center;
  width: 142px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  position: absolute;
  bottom: 0px;
  margin: 30px 0 10px 0;
}

footer {
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-column: 2/5;
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  grid-row: 5/6;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
}

footer > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin: 0 0 0 18px;
}

footer > div h3 {
  color: #0D4D79;
  font-family: Times New Roman, Times, serif;
  font-size: 20px;
  margin: 0 0 5px;
  text-indent: 15px;
  text-shadow: 0 1px #F8FFFF;
  margin-top: 30px;
}

footer > div div {
  background-color: white;
  padding: 10px 15px 0 15px;
}

footer > div div b {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 24px;
  margin: 0;
  padding: 0 13px;
}

footer > div div p {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 24px;
  margin: 0;
  padding: 0 13px;
}

footer > div div .viewall {
  color: #a29c8e;
  display: block;
  font-size: 12px;
  padding: 0 13px 10px;
  text-decoration: none;
  text-align: right;
}

footer > div:nth-child(1) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
}

footer > div:nth-child(2) {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}

footer > div:nth-child(3) {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
}

footer > div:nth-child(4) {
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4/5;
}

#footer2 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-column: 1/6;
  -ms-grid-row: 6;
  -ms-grid-row-span: 1;
  grid-row: 6/7;
  background: url(../images/bg-footer.jpg) repeat-x center bottom;
}

#footer2 > div {
  margin: 70px auto 0;
  overflow: hidden;
  width: 960px;
}

#footer2 > div p.connect {
  float: left;
  color: #988878;
}

#footer2 > div p.footnote {
  float: right;
  color: #988878;
}
/*# sourceMappingURL=style.css.map */